.app {
    --bg-main: #12141B;
    --bg-card: #1E2027;
    --bg-accent: #4B4E5B1A;
    --text-main: #DCD8D3;
    --text-hint: #8C8988;
    --outline-main: #303238;
    --text-accent: #CF7B5A;
    --outline-accent: #CF7B5A33;
    --icon-danger: #FF2C47;
    --outline-danger: #FF2C4733;
}
