.button {
    font-weight: 600;
    padding: 10px 16px;
    color: var(--text-accent);
    background: var(--bg-main);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
}